<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="w3-container w3-margin">

  <div class="w3-panel w3-pink">
 <h1 class="w3-wide"><i class="material-icons">shopping_cart</i> LIZ SPILA'S STORE</h1>

</div>
  </head>
  
<%= link_to 'Show My Cart', cart_path(@cart) , class:"w3-button w3-light-gray w3-border" %>

  <div class="w3-container w3-margin">
<table class="w3-table-all">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= strip_tags(product.description) %></td>
        <td><%= image_tag(product.image_url) %>
        <%= number_to_currency(product.price) %>
        <%= button_to 'Add to Cart', line_items_path(product_id: product), class:"w3-button w3-light-gray w3-border" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
<br>
